name: Test

on:
  pull_request: {}
  push:
    branches:
      - master

env:
  BUNDLE_WITHOUT: release

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: truffleruby
          - ruby: truffleruby+graalvm
          - ruby: jruby
          - ruby: "2.5"
            rake_task: "rubocop test"
          - ruby: "2.6"
          - ruby: "2.7"
          - ruby: "3.0"
          - ruby: "3.1"
            coverage: "yes"
          - ruby: "3.2"
    env:
      COVERAGE: ${{ matrix.coverage }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake ${{ matrix.rake_task }}
      - name: Build gem
        run: gem build *.gemspec
